<h1>Editing Sharepopulationsufferingcancer</h1>

<%= render 'form', sharepopulationsufferingcancer: @sharepopulationsufferingcancer %>

<%= link_to 'Show', @sharepopulationsufferingcancer %> |
<%= link_to 'Back', sharepopulationsufferingcancers_path %>
