<html>
    
  <head>
    </head>         
    
    <% if current_user %>
    
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    
    <% else %>
    
            <%= link_to 'Sign Up', new_user_registration_path %>
            <%= link_to 'Sign in', new_user_session_path %>
    
    <% end %>
  

    
    
    

    
    
      <h1>Home</h1>
    <p>Have you ever thought that your lifetime alcohol consumption might affect the likelihood of getting cancer?<br>
    With this application you will see that it exists a correlation between the cancer and alcohol consumption<br>
        Are you saying that is hard to renounce to alcohol? Well, we know it well<br>
        This is why you will find in our shop some rehab services at a low price.    
    </p>
      
<body>
                  

</body>

