<html>
  <head>
      <h1>This is my home page</h1>
<a href = "<%= tests_path %>">this is a link to my data </a>
<p>Find me in app/views/home/index.html.erb</p>
      

<!--<div id = "container" style = "width:100%; height:400px;"></div>--> 

<!--<script type="text/javascript">
$(function () {var myChart = Highcharts.chart('container', {chart: {type: 'bar'}, title: {text: 'Risks for Cancer'}, xAxis: {categories: <%=raw @riskfactorcancerdeath_cause %>}, yAxis: {title: {text: 'Share of population suffering cancer types'}
}, series: [{name: 'Cabins Available', data: <%=raw @riskfactorcancerdeath_share_deaths %>}, {name: 'Cabins Booked',data: <%= raw @riskfactorcancerdeath_cause %>}]});});
</script>--> 
      
  </head>
