<html>
    
  <head>
    </head>         
  
      <h1>Home</h1>
    <p>Have you ever thought that your lifetime alcohol consumption might affect the likelihood of getting cancer?<br>
    With this application you will see that it exists a correlation between the cancer and alcohol consumption<br>
        Are you saying that is hard to renounce to alcohol? Well, we know it well<br>
        This is why you will find in our shop some rehab services at a low price.    
    </p>
      
<body>
                  
<a class="twitter-timeline" data-lang="en" href="https://twitter.com/CR_UK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" data-width="300"
  data-height="300">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
</body>

