<html>
    
  <head>
    </head>         
    
     
    

         <h1>Home</h1>
    <p>Have you ever thought that your lifetime alcohol consumption might affect the likelihood of getting cancer?<br>
    With this application you will see that it exists a correlation between the cancer and alcohol consumption<br>
        Are you saying that is hard to renounce to alcohol? Well, we know it well<br>
        This is why you will find in our shop some rehab services at a low price.    
    </p>
      
<body>
                  

</body>

