<h1>Editing Riskfactorcancerdeath</h1>

<%= render 'form', riskfactorcancerdeath: @riskfactorcancerdeath %>

<%= link_to 'Show', @riskfactorcancerdeath %> |
<%= link_to 'Back', riskfactorcancerdeaths_path %>
