

<p>
    Dear <%= @orderinshop.name %>
</p>
<p>
    Thank you for your recent order from Detox INC.
    You ordered the following items:
        <%= render @orderinshop.line_items -%>
    We'll send you a separate e-mail when your order ships.
</p>
