<h1>Detox INC.</h1>

<p>
  This is just to let you know that we've booked your recent order:
</p>

<table>
<tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @orderinshop.line_items -%>
</table>
report