// Place all the styles related to the Sharepopulationsufferingtypescancers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
}

