<h1>Editing Sharepopulationsufferingtypescancer</h1>

<%= render 'form', sharepopulationsufferingtypescancer: @sharepopulationsufferingtypescancer %>

<%= link_to 'Show', @sharepopulationsufferingtypescancer %> |
<%= link_to 'Back', sharepopulationsufferingtypescancers_path %>
