<h1>New Sharepopulationsufferingtypescancer</h1>

<%= render 'form', sharepopulationsufferingtypescancer: @sharepopulationsufferingtypescancer %>

<%= link_to 'Back', sharepopulationsufferingtypescancers_path %>
